#d2 {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  width: 200px;
  height: 250px;
}

.label {
  color: black;
  font-size: 15px;
  font-family: "Andale Mono",fantasy;
  font-weight: bold;
}

.title {
  color: black;
  font-size: 17px;
  font-family: "Andale Mono",fantasy;
  font-weight: bold;
}

.inputs {
  text-align: center;
  width: 20px;
  height: 16px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  font-family: "Andale Mono";
  font-size: 15px;
}
