#searchDiv {
  height: 120px;
  width: 700px;
  background-image: linear-gradient(to bottom right, crimson, blue);
  text-align: center;
  box-shadow: 5px 8px 5px 1px;
}

p {
  padding-top: 5px;
  font-size: 25px;
  font-family: "Andale Mono", fantasy;
  color: white;
  text-shadow: 3px 0 0 #000, -2px 0 0 #000, 0 3px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

input {
  text-align: center;
  width: 500px;
  height: 30px;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  border-width: 3px;
}
