#searchDiv {
  width: auto;
  height: 120px;
  background-image: linear-gradient(to bottom right, crimson, blue);
}

p {
  padding-top: 5px;
  font-size: 30px;
  font-family: "Andale Mono", fantasy;
  color: white;
}

input {
  text-align: center;
  width: 500px;
  height: 30px;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}
